# LLM Configuration
LLM_BASE_URL=http://localhost:11434/v1
LLM_MODEL=your model name
LLM_API_KEY=your api key

# Embedding Configuration
LLM_EMBED_URL=http://localhost:11434/v1
LLM_EMBED_MODEL=embeddinggemma
LLM_EMBED_API_KEY=ollama